<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_InfoUNSAdA"
        tools:targetApi="31">
        <activity
            android:name=".DeportesActivity"
            android:exported="false" />
        <activity
            android:name=".ContactosActivity"
            android:exported="false" />
        <activity
            android:name=".TutoriasActivity"
            android:exported="false" />
        <activity
            android:name=".PlataformasActivity"
            android:exported="false" />
        <activity
            android:name=".BecasActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarioActivity"
            android:exported="false" />
        <activity
            android:name=".TopicModulesActivity"
            android:exported="false" />
        <activity
            android:name=".ExtensionesActivity"
            android:exported="false" /> <!-- 🔹 Agregamos la actividad de Noticias -->
        <activity
            android:name=".NoticiasActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>